*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav{
    display: flex;
    gap: 6rem;
    align-items: center;
    padding: 1rem 4rem;
    background-color: white;
    position: fixed;
    top: 0%;
    box-shadow: 0 2px 4px rgba(139, 130, 130, 0.2);
}
nav  ul{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    color:#636363;
    list-style: none;
    gap: 3rem;
}
nav  li{
    display: flex;
}
nav li a {
    display: block;
    color:#636363;
    text-align: center;
    text-decoration: none;
}

/* dropdown menu styles */

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
    display: block;
}

nav .btn button{
    background-color:#6FC247;
    color: white;
    font-size: 1rem;
    padding: 24px 40px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 16px;
    border: 1px solid #6FC247;
}


/* main styling */

.A{
    margin-top: 10rem;
    text-align: center;
    padding: 0rem 8rem;
    margin-bottom: 4rem;
}
.A h1{
    font-size: 60px;
    color: #373737;
}
.A p{
    font-size: 24px;
    padding: 0rem 6rem;
    color: #373737;
}

/* main styling btn */

.btn{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.demo{
    background-color:#6FC247;
    color: white;
    font-size: 1rem;
    padding: 24px 40px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 16px;
    border: 1px solid #6FC247;
}
.logbtn{
    background-color:white;
    color: #6FC247;
    font-size: 1rem;
    padding: 24px 40px;
    width: 250px;
    border-radius: 16px;
    border: 1px solid #6FC247;
}

/* section c styling */

.C{
    text-align: center;
}
.C h1{
    font-weight: bold;
    font-size: 30px;
}
.C p{
    font-weight: bold;
    font-size: 20px;
    padding: 0rem 8rem;
}
.C .row{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

/* section d styling */

.D{
    text-align: center;
    padding: 3rem 3rem;
    background-color: black;
    color: white;
}
.D .desc{
    display: flex;
    text-align: left;
    padding-top: 1rem;
}
.D h1{
    font-size: 35px;
}
.D p{
    font-size: 20px;
}
.D > p{
    padding: 0rem 10rem;
}
.D .desc p{
    padding-right: 2rem;
}

/* section E styling */

.E{
    padding: 2rem 8rem;
}
.desc{
    text-align: center;
    padding-bottom: 2rem;
}
.desc h1{
    color: #373737;
    font-size: 30px;
}
.E .desc p{
    font-size: 20px;
    color: #373737;
}
.snd{
    display: flex;
    gap: 4rem;
    font-size: 20px;
    color: #373737;
}
.snd .left .pgraph{
    padding-bottom: 4rem;
}

.E .btn{
    padding-top: 4rem;
}

.E .btn button{
    background-color:#6FC247;
    color: white;
    font-size: 1rem;
    padding: 24px 40px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 16px;
    border: 1px solid #6FC247;
}